/* Add styles here */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
button{
    background-color:aquamarine;
    color: white;
    padding: 5px 20px 5px 20px;
    border:none;
    border-radius: 15px 0;
}
img{
    display:flex;
    justify-content: center;
    align-items: center;
}